*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    border-bottom: 0.5px solid grey;
}

.logo{
    cursor: pointer;
}

#container{
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
}

input{
	height: 50px;
	font-size: 30px;
	background-color: white;
	border-radius: 10px;
}

#submit{
	background-color: black;
	color: white;
}

.lab{
	text-align: left;
}


.login{
	padding: 30px;
	border: 2px groove black;
	margin-top: 120px;
	text-align: center;
}

.login h1{
	text-decoration: underline;
	font-size: 50px;
	font-weigth: normal;
}

.registerlink a{
	color: black;
}

.registerlink{
	text-align: left; !important
	font-size: 20px;
	text-align: left;
	color: black;
}

.login label{
	font-size: 30px;
}