/* Uros Mutavdzic 19/378 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-bottom: 0.5px solid grey;
}

.logo{
    cursor: pointer;
}

li{
    display: inline-block;
    padding: 0 20px;
}

li a:hover{
    color: blueviolet;
}

#container{
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
}

#game{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.title-left, .title-right{
    font-size: 18px;
    font-weight: bold;
}

.title-left, .title-right{
    width: 4em;
}

.title-center{
    font-size: 18px;
    text-transform: uppercase;
}

#board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board{
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.square{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#keyboard{
    height: 200px;
    margin: 0 8px;
    user-select: none;
}

.k-row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation; 
}

.k-row button{
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: lightblue;
    color: black;
    flex-grow: 1;
    text-transform: uppercase;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}